    <section class="cta-section" data-section="cta" style="display: none;">
      <div class="container">
        <div class="fb fb-justify-center">
          <div class="cta cta-view">
            <a class="go-to-checkout" href="#" data-cta="primary" data-section="guarantee">
              <button class="btn text-bold">
                Order Now & Save Up To 60% Off
              </button>
            </a>
            <div class="cta-bottom fb fb-align-center fb-justify-center dark-color text-bold">
              <div class="cta-ship"></div>
              <div class="cta-text">
                Ship by
                <script>getDate(+2);</script>
                <span>|</span> Stock Levels
              </div>
              <div class="cta-stock-view fb">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class="cta-stock-level">LOW</div>
            </div>
          </div>
        </div>
      </div>
    </section>
