    <section class="customers-photos" data-section="photos">
      <div class="container text-center">
        <div class="fb fb-justify-center">
          <img class="customers-photos--avatar-group"
            src="https://cdn.29next.store/media/peakfootwear/uploads/customer-photos-group.png" alt="Customer photos"
            width="172" height="auto" />
        </div>
        <h2>Customers Love Our Shoes</h2>
      </div>
      <div class="customers-photos--list fb fb-justify-center">
        <div class="customers-photos--list-inner fb">
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/WlYZkRzYz.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/cRNVLzoSG.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/GVIGKCPUn.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/4CraoNg0P.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/NExEjTHv0.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/l6PkBCQz3.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/FANG0279_1.jpg?v=1777539420" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/LROWaJ-G2.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/y4wZRcBUE.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/0FvKOcD6L.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/fx_8ce0Iz.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/h9TxATCwW.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/Vz0al8It2_mid_1.jpg?v=1777539419" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/54xAM-gCh_mid_1.jpg?v=1777539419" alt="Customer photo" width="219" height="219" />
          <!-- Duplicate set for seamless loop -->
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/WlYZkRzYz.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/cRNVLzoSG.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/GVIGKCPUn.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/4CraoNg0P.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/NExEjTHv0.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/l6PkBCQz3.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/FANG0279_1.jpg?v=1777539420" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/LROWaJ-G2.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/y4wZRcBUE.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/0FvKOcD6L.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/fx_8ce0Iz.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.29next.store/media/peakfootwear/uploads/h9TxATCwW.jpg" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/Vz0al8It2_mid_1.jpg?v=1777539419" alt="Customer photo" width="219" height="219" />
          <img src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/54xAM-gCh_mid_1.jpg?v=1777539419" alt="Customer photo" width="219" height="219" />
        </div>
      </div>
    </section>
