    <section class="hero light-grey-bg" data-section="hero">
      <div class="hero-wrapper container fb pos-relative">
        <div class="hero-content">
          <div class="reviews-summary fb fb-align-center">
            <img src="https://offer.groundedfootwear.co/freedom/en/us/img/stars-4.5.svg" alt="5 Stars" width="99"
              height="auto" />
            <span class="text-bold">4.8/5 Based on 3,200+<span class="hide-mobile">
                Pain Free Customers</span></span>
          </div>
          <h1>
            Find Relief:<br class="hide-mobile" />
            Wide Toe Box Barefoot Shoes Ease Pressure on Feet and Joints
          </h1>
          <div class="hero-slider fb fb-column fb-align-center" id="heroSlider1">
            <div class="hero-slider--display-wrapper pos-relative">
              <img class="hero-slider--guarantee-seal pos-absolute"
                src="https://cdn.29next.store/media/peakfootwear/uploads/90-days-guarantee_ANWBtkS.png"
                alt="90 days guarantee" width="117" height="117" />
              <img class="hero-slider--recommended-seal pos-absolute"
                src="https://cdn.29next.store/media/peakfootwear/uploads/doctor-tested.png"
                alt="#1 Doctor Recommended Brand" width="113" height="113" />
              <div class="hero-slider--display white-bg pos-relative">
                <div class="hero-slider--current-image pos-relative">
                  <img class="expand active" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-duo-black-white_1.jpg?v=1777536914"
                    alt="Slider 1 - Product" width="auto" height="auto" />
                  <img class="expand" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-duo-black-pink_1.jpg?v=1777537334"
                    alt="Slider 2 - Product" width="auto" height="auto" />
                  <img class="fill" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-flex-v2_1.jpg?v=1777537492"
                    alt="Slider 3 - Product" width="auto" height="auto" />
                  <img class="expand shoe-sole" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/FANG9364_2.jpg?v=1777537492"
                    alt="Slider 4 - Product" width="auto" height="auto" />
                  <img class="expand" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-topdown-logo-insole_1.jpg?v=1777537669"
                    alt="Slider 5 - Product" width="auto" height="auto" />
                </div>
              </div>
              <div class="hero-slider--arrows-mobile hide-desktop pos-absolute fb h-100">
                <div class="hero-slider--arrow-mobile hero-slider--arrow-mobile-left fb fb-align-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                  </svg>
                </div>
                <div class="hero-slider--arrow-mobile hero-slider--arrow-mobile-right fb fb-align-center fb-justify-end">
                  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                    <path
                      d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                  </svg>
                </div>
              </div>
            </div>
            <div class="hero-slider--buttons fb fb-align-center fb-justify-center">
              <div class="hero-slider--arrow hero-slider--arrow-left">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-left-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 0 0 16A8 8 0 0 0 8 0m3.5 7.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5z" />
                </svg>
              </div>
              <div class="hero-slider--buttons-thumbs fb">
                <div class="hero-slider--button bg-img"
                  style="background-image: url('https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-duo-black-white_1.jpg?v=1777536914')">
                </div>
                <div class="hero-slider--button bg-img"
                  style="background-image: url('https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-duo-black-pink_1.jpg?v=1777537334')"></div>
                <div class="hero-slider--button bg-img"
                  style="background-image: url('https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-flex-v2_1.jpg?v=1777537492')">
                </div>
                <div class="hero-slider--button bg-img"
                  style="background-image: url('https://cdn.shopify.com/s/files/1/0644/6936/9018/files/FANG9364_2.jpg?v=1777537492')">
                </div>
                <div class="hero-slider--button bg-img"
                  style="background-image: url('https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-topdown-logo-insole_1.jpg?v=1777537669')">
                </div>
              </div>
              <div class="hero-slider--arrow hero-slider--arrow-right">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                  class="bi bi-arrow-right-circle-fill" viewBox="0 0 16 16">
                  <path
                    d="M8 0a8 8 0 1 1 0 16A8 8 0 0 1 8 0M4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5z" />
                </svg>
              </div>
            </div>
          </div>
          <div class="points-list">
            <ul class="text-bold">
              <li>Orthopedist-Approved Design</li>
              <li>Pressure Relief for Feet and Joints</li>
              <li>Wide Toe Box for Natural Toe Placement</li>
              <li>Enhanced Stability to Prevent Falls and Twists</li>
              <li>All-Day Comfort and Pain-Free Traction</li>
            </ul>
          </div>
          <div class="cta hide-tablet">
            <a class="go-to-checkout" href="#" data-cta="primary" data-section="hero">
              <button class="btn text-bold">
                Order Now & Save Up To 60% Off
              </button>
            </a>
            <div class="cta-bottom fb fb-align-center fb-justify-center dark-color text-bold">
              <div class="cta-ship"></div>
              <div class="cta-text">
                Ship by
                <script>getDate(+2);</script>
                <span>|</span> Stock Levels
              </div>
              <div class="cta-stock-view fb">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class="cta-stock-level">LOW</div>
            </div>
          </div>
          <div class="hero-testimonial fb">
            <div class="hero-testimonial--image">
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/dr.png" style="border-radius: 100%;" alt="Avatar" width="68"
                height="68" />
            </div>
            <div class="hero-testimonial--text">
              <img src="https://offer.groundedfootwear.co/freedom/en/us/img/stars-5.svg" alt="5 Stars" width="71"
                height="auto" />
              <p>
                <b>AMAZING!</b> - I've been wearing Peak barefoot shoes
                for 4 weeks now, and they feel amazing. My feet feel great!
              </p>
              <div class="testimonial--author">
                <b>Jenni H.</b>
                <img src="https://offer.groundedfootwear.co/freedom/en/us/img/shield-checkmark.svg" alt="Checkmark" width="16"
                  height="auto" />
                <span>Verified Purchaser</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
