    <section class="offer-hero-section">

      <div class="offer-grid">

        <!-- LEFT CONTENT -->
        <div class="offer-left">

          <div class="rating-row">
            <img src="https://offer.groundedfootwear.co/freedom/en/us/img/4.8-stars.svg" class="img-stars3">
            <span class="rating-text">4.8/5 Based on 13,427+ Pain Free Customers</span>
          </div>

          <h1>
            Limited Time: Claim<br>
            Your 60% Off Today
          </h1>

          <ul class="benefits-list">
            <li>Fast Shipping: Reliable & Trusted USPS</li>
            <li>Easy Returns: Full refund or replacement.</li>
            <li>Simple to Use: Slip them on and enjoy</li>
          </ul>

          <div class="cta cta-view">
            <a class="go-to-checkout" href="#" data-cta="primary" data-section="features">
              <button class="btn text-bold">
                Order Now & Save Up To 60% Off
              </button>
            </a>
            <div class="cta-bottom fb fb-align-center fb-justify-center dark-color text-bold">
              <div class="cta-ship"></div>
              <div class="cta-text">
                Ship by
                <script>getDate(+2);</script>
                <span>|</span> Stock Levels
              </div>
              <div class="cta-stock-view fb">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class="cta-stock-level">LOW</div>
            </div>
          </div>

        </div>

        <!-- RIGHT IMAGE -->
        <div class="offer-right">
          <img class="img-col" src="https://offer.groundedfootwear.co/freedom/en/us/img/offer-product-image.png" alt="">
        </div>

      </div>

    </section>
