    <section class="offer pos-relative" data-section="offer" style="display: none;">
      <div class="container">
        <div class="offer-content fb fb-column">
          <div class="reviews-summary fb fb-align-center">
            <img src="https://offer.groundedfootwear.co/freedom/en/us/img/4.8-stars.svg" alt="5 Stars" width="99"
              height="auto" />
            <span class="text-bold">4.8/5 Based on 3,200+<span class="hide-mobile">
                Pain Free Customers</span></span>
          </div>
          <h1>
            Limited Time: Claim<br />
            Your 60% Off Today
          </h1>
          <img class="offer--image" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/lorax-pro-duo-black-pink_1.jpg?v=1777537334" alt="Product"
            width="auto" height="auto" />
          <div class="points-list offer-points-list">
            <ul class="text-bold">
              <li>
                <img src="https://cdn.29next.store/media/peakfootwear/uploads/shipping.png" alt="Shipping" width="32" height="32" />
                <span>Fast Shipping: Reliable & Trusted USPS</span>
              </li>
              <li>
                <img src="https://cdn.29next.store/media/peakfootwear/uploads/returns.png" alt="Returns" width="32" height="32" />
                <span>Easy Returns: Full refund or replacement.</span>
              </li>
              <li>
                <img src="https://cdn.29next.store/media/peakfootwear/uploads/check.png" alt="Check" width="32" height="32" />
                <span>Simple to Use: Slip them on and enjoy</span>
              </li>
            </ul>
          </div>
          <div class="cta cta-view">
            <a class="go-to-checkout" href="#" data-cta="primary" data-section="offer">
              <button class="btn text-bold">
                Order Now & Save Up To 60% Off
              </button>
            </a>
            <div class="cta-bottom fb fb-align-center fb-justify-center dark-color text-bold">
              <div class="cta-ship"></div>
              <div class="cta-text">
                Ship by
                <script>getDate(+2);</script>
                <span>|</span> Stock Levels
              </div>
              <div class="cta-stock-view fb">
                <span></span><span></span><span></span><span></span><span></span>
              </div>
              <div class="cta-stock-level">LOW</div>
            </div>
          </div>
        </div>
      </div>
    </section>
