    <section class="overview" data-section="overview">
      <div class="container">
        <div class="overview-list fb fb-justify-center fb-wrap">
          <div class="overview--item text-center text-bold">
            <div>
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/overview-icon-1.svg" alt="Wide Toe Box" />
            </div>
            <p>Wide<br />Toe Box</p>
          </div>
          <div class="overview--item text-center text-bold">
            <div>
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/overview-icon-2.svg"
                alt="Lightweight & Durable Design" />
            </div>
            <p>Lightweight &<br />Durable Design</p>
          </div>
          <div class="overview--item text-center text-bold">
            <div>
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/overview-icon-3.svg"
                alt="Effortless Comfort" />
            </div>
            <p>Effortless<br />Comfort</p>
          </div>
          <div class="overview--item text-center text-bold">
            <div>
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/overview-icon-4.svg"
                alt="Breathable Material" />
            </div>
            <p>Breathable<br />Material</p>
          </div>
          <div class="overview--item text-center text-bold">
            <div>
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/overview-icon-5.svg"
                alt="Strengthens Feet" />
            </div>
            <p>Strengthens<br />Feet</p>
          </div>
        </div>
      </div>
    </section>
