  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KN7HK4XF" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- Desktop banner -->
  <div class="banner desktop-banner">
    <div class="bottom-bar">
      <p class="order-text">
        GET UP TO 60% OFF NOW! <span class="fw-normal">USE PROMO CODE:</span><span class="code">PEAK26</span>
      </p>
      <p class="text-dark order-text" style="margin-right: 5px">
        - ENDS AT MIDNIGHT
      </p>
    </div>
  </div>

  <!-- Mobile banner -->
  <div class="banner mobile-banner">
    <div class="bottom-bar">
      <p class="order-text">
        GET UP TO 60% OFF NOW <span class="fw-normal">USE PROMO CODE:</span>
      </p>
      <div class="d-flex flex-row timer-wrapper">
        <div class="code">SHOE24</div>
        <p class="text-dark order-text">
          - ENDS AT MIDNIGHT
        </p>
      </div>
    </div>
  </div>
