    <section id="features" class="benefits" data-section="features">
      <div class="container">
        <div class="section-title text-center">
          <h2>
            Free Your Feet Improve <br class="break" />
            Your Health
          </h2>
          <p>
            Boost your balance, stability, and overall health by freeing your
            feet to move the way nature intended. This new found alignment
            reduces amplified impact forces on your body, eradicating joint
            pain and nerve discomfort.
          </p>
        </div>
      </div>
      <div class="bg-grey">
        <div class="color-block"></div>
        <div class="container">
          <div class="benefits--list fb fb-column">
            <div class="benefit green-corner fb fb-justify-center fb-align-center">
              <div class="benefit--image pos-relative">
                <img class="pos-relative" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/peak-benefit-hiking-1x1_1.jpg?v=1777538020"
                  alt="Unlock Your Body" width="487" height="auto" />
              </div>
              <div class="benefit--text">
                <h3>Unlock Your Body</h3>
                <p>
                  Our footwear strengthens foot and leg muscles,
                  promoting a natural stride that alleviates pain.
                  <b>Ideal for those battling joint pain in feet, knees, hips,
                    and back, as well as plantar fasciitis.</b>
                </p>
              </div>
            </div>
            <div class="benefit fb fb-justify-center fb-align-center">
              <div class="benefit--image pos-relative">
                <img class="pos-relative" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/8e90e5bb987542618cf04b6e8bb25ea5_1_1.gif?v=1777538178"
                  alt="Free Your Toes" width="487" height="auto" />
              </div>
              <div class="benefit--text">
                <h3>Free Your Toes</h3>
                <p>
                  Feel the enhanced strength and agility in your feet as your
                  toes spread freely in our wide toe-box shoes. With extra
                  space, they enhance balance and health, relieving bunions
                  and plantar fasciitis.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="benefits--list fb fb-column">
          <div class="benefit green-corner fb fb-justify-center fb-align-center">
            <div class="benefit--image pos-relative">
              <img class="pos-relative" src="https://cdn.29next.store/media/peakfootwear/uploads/activity.jpg"
                alt="Slip and Fall Prevention" width="487" height="auto" />
            </div>
            <div class="benefit--text">
              <h3>Slip and Fall Prevention</h3>
              <p>
                Step confidently with our Slip-Resistant Traction Grip,
                ensuring steady support on any terrain. With a thin sole for
                better sensory feedback, each step is secure and safe.
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="bg-grey">
        <div class="color-block" style="bottom: 0"></div>
        <div class="container">
          <div class="benefits--list fb fb-column">
            <div class="benefit fb fb-justify-center fb-align-center">
              <div class="benefit--image pos-relative" style="order: 1">
                <img class="pos-relative" src="https://cdn.shopify.com/s/files/1/0644/6936/9018/files/FANG0290_1.jpg?v=1777538361"
                  alt="Alleviate Foot & Joint Pain" width="487" height="auto" />
              </div>
              <div class="benefit--text">
                <h3>Alleviate Foot & Joint Pain</h3>
                <p>
                  Protect your feet and joints from the damaging impacts
                  caused by raised heel padded shoes.
                  <b>Our shock-absorbing insole prevents repetitive injuries
                    to the foot, knees, hips, and back.</b>
                </p>
              </div>
            </div>
          </div>
          <div class="fb fb-justify-center">
            <div class="cta cta-view">
              <a class="go-to-checkout" href="#" data-cta="primary" data-section="features">
                <button class="btn text-bold">
                  Order Now & Save Up To 60% Off
                </button>
              </a>
              <div class="cta-bottom fb fb-align-center fb-justify-center dark-color text-bold">
                <div class="cta-ship"></div>
                <div class="cta-text">
                  Ship by
                  <script>getDate(+2);</script>
                  <span>|</span> Stock Levels
                </div>
                <div class="cta-stock-view fb">
                  <span></span><span></span><span></span><span></span><span></span>
                </div>
                <div class="cta-stock-level">LOW</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
