  <div class="fixed-cta white-bg hide-desktop fb fb-justify-center" style="box-shadow: 0px -3px 8px 0px #bbbbbb">
    <div class="cta">
      <a class="go-to-checkout" href="#" data-cta="primary" data-section="sticky">
        <button class="btn text-bold">
          Order Now &amp; Save Up To 60% Off
        </button>
      </a>
      <div class="cta-bottom fb fb-align-center fb-justify-center dark-color text-bold">
        <div class="cta-ship"></div>
        <div class="cta-text">
          Ship by
          <script>getDate(+2);</script>
          <span>|</span> Stock Levels
        </div>
        <div class="cta-stock-view fb">
          <span></span><span></span><span></span><span></span><span></span>
        </div>
        <div class="cta-stock-level">LOW</div>
      </div>
    </div>
  </div>
