  <header class="white-bg fb fb-align-center" style="box-shadow: 0px 3px 8px 0px #bbbbbb">
    <div class="container fb fb-align-center fb-justify-space-between h-100">
      <div class="logo">
        <img src="https://cdn.29next.store/media/peakfootwear/uploads/Logo_Horizontal___Black_200x2x.png"
          alt="Peak Footwear" height="auto" />
      </div>
      <nav class="fb fb-align-center">
        <ul class="fb hide-mobile">
          <li class="fb fb-align-center">
            <a href="#features" class="primary-color">Features</a>
          </li>
          <li class="fb fb-align-center">
            <a href="#reviews" class="primary-color">Reviews</a>
          </li>
        </ul>
        <button class="btn hide-tablet">
          <a href="#" class="go-to-checkout" data-cta="secondary" data-section="header">Get Up To 60% Off</a>
        </button>
        <button class="mobile-menu-open hide-desktop" aria-label="Open menu">
          <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="currentColor" viewBox="0 0 16 16">
            <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
          </svg>
        </button>
        <div class="nav-mobile-overlay hide-desktop"></div>
        <div class="nav-mobile hide-desktop">
          <button class="mobile-menu-close-top" aria-label="Close menu">
            <svg xmlns="http://www.w3.org/2000/svg" width="28" height="28" fill="white" viewBox="0 0 16 16">
              <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
            </svg>
          </button>
          <div class="nav-mobile--header primary-bg">
            <div class="container fb fb-align-center fb-justify-space-between h-100">
              <img src="https://cdn.29next.store/media/peakfootwear/uploads/Logo_Horizontal___Black_200x2x.png" alt="Peak Footwear" width="159" height="auto" style="filter: brightness(0) invert(1);" />
              <button class="mobile-menu-close" aria-label="Close menu">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="white" viewBox="0 0 16 16">
                  <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                </svg>
              </button>
            </div>
          </div>
          <div class="nav-mobile--menu fb fb-column white-bg text-bold">
            <a href="#features" class="primary-color mobile-menu-link">Features</a>
            <a href="#reviews" class="primary-color mobile-menu-link">Reviews</a>
            <a href="#" class="go-to-checkout primary-color mobile-menu-link" data-cta="secondary" data-section="mobile-menu">Get Up To 60% Off</a>
          </div>
        </div>
      </nav>
    </div>
  </header>
